<form [formGroup]="conectarFormGroup">
  <label>Nome da Instância</label>
  <input
    formControlName="nomeInstancia"
    type="text"
    placeholder="somente números"
    (input)="filtrarApenasNumeros($event)"
  />
  <label class="information-small">
    Somente números. Letras e caracteres especiais não são permitidos.
  </label>

  @if(stateInstance != '') {
  <label>Status: {{ stateInstance }}</label>
  } @if(qrCodeUrl != null || stateInstance == 'open') {
  <div style="text-align: center">
    <img [src]="qrCodeUrl" />
    <p>QR code expira em {{ segundosRestantes }} segundos</p>
  </div>
  }

  <div class="button-container">
    @if(generateNewQrCode == false && stateInstance != 'open') {
    <button type="button" (click)="conectar()" [disabled]="!conectarFormGroup.valid">
      {{ 'Criar Instância' }}
    </button>
    } @if(generateNewQrCode == true) {
    <button type="button" (click)="newQrCode()" [disabled]="!conectarFormGroup.valid">
      {{ 'Gerar novo QR Code' }}
    </button>
    }
  </div>
</form>
