<form [formGroup]="conectarFormGroup">
  <label>Nome da Instância</label>
  <input
    formControlName="nomeInstancia"
    type="text"
    placeholder="somente números"
    (input)="filtrarApenasNumeros($event)"
  />
  <label class="information-small">
    Somente números. Letras e caracteres especiais não são permitidos.
  </label>

  <div *ngIf="qrCodeUrl" style="text-align: center">
    <img [src]="qrCodeUrl" />
    <p>QR code expira em {{ segundosRestantes }} segundos</p>
  </div>

  <div class="button-container">
    <button
      type="button"
      *ngIf="qrCodeUrl == null && gerarNovoQrCode == false"
      (click)="conectar()"
      [disabled]="!conectarFormGroup.valid || isCreatingInstance"
    >
      {{ isCreatingInstance ? 'Criando...' : 'Criar Instância' }}
    </button>

    <button
      type="button"
      *ngIf="!qrCodeUrl && gerarNovoQrCode == true"
      (click)="newQrCode()"
      [disabled]="!conectarFormGroup.valid || isCreatingInstance"
    >
      {{ isCreatingInstance ? 'Gerando...' : 'Gerar novo QR Code' }}
    </button>

    <button type="button" (click)="statusInstance()">Verificar Status</button>
  </div>
</form>
